<!DOCTYPE html>
<html lang="en">
{{ navbar|safe }}
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container-lg">
    <div class="container" style="background-color : {{ element_color }}; padding : 40px">
        <div class="container" style="padding=15px;">
            {{ documentation_content|safe }}
            <h1>About</h1>

            <h2>Development</h2>

            <p>
                HG MHH, L3S and Hearing Center team ..
            </p>

            <h2>Contact us</h2>

            <p>
                Please email us at .. for general and usage questions.
                To ask a code-related question, please open an new issue at github
                ..
            </p>

            <h2>Citation</h2>
            <p>
                If you use the web or command line version of GenOtoScope, please cite: ..
            </p>
            <h2>Data Privacy</h2>

            <p>
                GenOtoScope will not keep any user personal data ..
            </p>

            <h2>Disclaimer</h2>

            <p>
                We make no warranties regarding the correctness of the data, and disclaim liability for damages resulting from its use.
                Any medical or genetic information is provided for research, educational and informational purposes only. It is not in any way intended to be used as a substitute for professional medical advice, diagnosis, treatment or care.
                ..
            </p>

            <h2>License</h2>
            <p>
                This is an Open Source project and available under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a> please check out the project repository ..
            </p>
            <h2>Supported by</h2>
            <p>
                Here add the funding information ..
            </p>
        </div>
    </div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</html>